.myMap{
    background-color:aqua;
    border-radius: 20px;
    border-color: brown;
    border-width: 20px;
    border-style: double;

}
ul>li{
    color: blue;
    width: fit-content;
}
img{
    width: 100px;
}